<section class="property-binding" >
    <!--<article>
        <h3>Interpolação</h3>
        <p>A url é {{ url }}</p>
        <-- 
            * Usa as chaves duplas para referenciar que ali contem uma informação vindo do component
            * Notar que o nome tem de ser exatamente igual declarado no component.            
        ->

        <p>Sendo usanda para expressão matematica 1+1 = {{ 1 + 1 }}</p>
        <p> Dentro do component, caso haja um método que deseja chamar, <br>é só chama-lo dentro das duplas chaves</p>
        <p> Consegue tambem colocar expressão lógicas dentro das interpolações</p>
       
        <img src="{{ urlImagem }}" />       
        <hr>
    </article>

    <article>
        <h3>Property Binding</h3>
        <img [src]="urlImagem">
        <!- Notar a diferença no Property Binding
            * Usa-se o [] dentro do proprio elemento html e chama o valor que deseja do componente
            *         
        ->
    </article> -->

    <article>
        <h3>Class e Style Binding</h3>
        <p> Ao Inves de trabalhar com propriedades, ela trabalha com css</p>
        <div>
            Selecione uma classe
            <select #Classe (change)="0">
                <!--
                    * É criada uma variavel local para acessar o combo do template
                    é Declarado com o # na frente #Classe
                -->
                <option value="alert-primary">Primary</option>
                <option value="alert-success">Sucess</option>
                <option value="alert-danger">Danger</option>
                <option value="alert-warning">Info</option>
            </select>
             <!--Usou o Property binding para acessar as propriedades
                * No exemplo corrente acessou a class e o style para adicionar ou modificar 
                    as propriedades conforme gostaria.
                * Observar também que foi possivel usar expressões lógicas.
            
            -->
            <div class="alert" role="alert"
            [class.alert-primary]="Classe.value == 'alert-primary'"
            [style.display]= "Classe.value == 'alert-primary' ? 'block' : 'none'">
            Primary</div>
           

            <div class="alert " role="alert"
            [class.alert-success]="Classe.value == 'alert-success'"
            [style.display]= "Classe.value == 'alert-success' ? 'block' : 'none'">
            success</div>

            <div class="alert" role="alert"
            [class.alert-danger]="Classe.value == 'alert-danger'"
            [style.display]= "Classe.value == 'alert-danger' ? 'block' : 'none'"
            >danger</div>

            <div class="alert " role="alert"
            [class.alert-warning]="Classe.value == 'alert-warning'"
            [style.display]= "Classe.value == 'alert-warning' ? 'block' : 'none'"
            >info</div>
        </div>
    </article>
</section>