
<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
  <div class="uk-card-media-top uk-cover-container uk-text-center">
    <img src="{{ product.images }}" height="150" width="150" class="uk-margin-small-top uk-border-circle" uk-cover >
  </div>
  <div class="uk-card-body">
    <h3 class="uk-card-title uk-margin-small-left">{{ product.price | currency:"BRL" }}</h3>
    <p class="uk-margin-small-left" style="height: 50px;"> {{ product.title }}</p>
    <button class="uk-button uk-button-default uk-margin-small-left">
      <span class="uk-icon uk-margin-small-left" uk-icon="icon: cart" ></span>
      Adicionar
    </button>
  </div>
</div>
