<mat-card>  
    <mat-card-title>Atualizar produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome"
            [(ngModel)]="produto.name"
            name="name"
            >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" 
            [(ngModel)]="produto.price"
             name="price" 
            >
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="UpdateProduct()" color="primary">
        Atualizar
    </button>
    
    <button mat-raised-button (click)="Cancel()" color="red">
        Cancelar
    </button>   
</mat-card>